button {
  background-color: $white;
  padding: $space $space-xs;
  border-width: 2px;
  border-style: solid;
  border-radius: $rounded;
  font-size: 1rem;
  color: $black;
  cursor: pointer;
  
  &.confirm {
    background-color: $black;
    border-color: $black;
    color: $white;
  }
  
  &.reject {
    border-color: $gray;
    font-weight: bold;
    color: $gray;
  }
  
  &.success {
    color: $success-dark;
    background-color: $success-light;
    border-color: $success-dark;
  }
  
  &.danger {
    color: $danger-dark;
    background-color: $danger-light;
    border-color: $danger-dark;
  }
  
  &.warning {
    color: $warning-dark;
    background-color: $warning-light;
    border-color: $warning-dark;
  }
}