$black: #000000;
$gray: #EEEEEE;
$green: #00d9aa;
$white: #ffffff;

$success-dark: #155724;
$success-light: #d4edda;
$success-medium: #c3e6cb;

$danger-dark: #721c24;
$danger-light: #f8d7da;
$danger-medium: #f5c6cb;

$warning-dark: #856404;
$warning-light: #fff3cd;
$warning-medium: #ffeeba;